@using Inventory.Models;

@{
   ViewBag.Title = "Home Page";
   Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

@{

}

<section class="section dashboard">
   <div class="row">

      <div class="col-md-12">

         <form action="/Home/Dashboard" method="post">

            <input type="submit" name="btnAddNew" id="btnAddNew" onclick="return ShowEquimentEntryPanel()" value="Add New" />

            @{
               List<BaseEquipment> data = (List<BaseEquipment>)ViewBag.Data;

               <h4>Equipment List</h4>


               <div class="row">
                  <div class="col-md-8 mb-3">
                     <input type="text" class="form-control" id="txtName" name="txtName" placeholder="Equipment Name">
                  </div>
                  <div class="col-md-2">
                     <button type="submit" class="btn btn-primary w-100" value="Search" name="btnSubmit">Search</button>
                  </div>

                  <div class="col-md-2">
                     <button type="submit" class="btn btn-outline-primary w-100" value="Clear" name="btnSubmit">Search</button>
                  </div>
               </div>



               <table class="table table-bordered shadow-sm mt-3">
                  <tr>
                     <th>Name</th>
                     <th>Count</th>
                     <th>Entry Date</th>
                  </tr>

                  @foreach (BaseEquipment obj in data)
                  {
                     if (ViewBag.Name != "")
                     {
                        if (obj.Name == ViewBag.Name)
                        {
                           <tr>
                              <td>@obj.Name</td>
                              <td>@obj.EcCount</td>
                              <td>@obj.EntryDate.ToString()</td>
                           </tr>
                        }
                     }
                     else
                     {
                        <tr>
                           <td>@obj.Name</td>
                           <td>@obj.EcCount</td>
                           <td>@obj.EntryDate.ToString()</td>
                        </tr>
                     }
                  }

               </table>

            }
         </form>
      </div>

   </div>
</section>

@*@Html.Partial("~/Views/Home/_PartialEquipmentEntry.cshtml")*@

<script>
   function ShowEquimentEntryPanel() {
      $("#dvPartialEntryPanel").dialog({
         resizable: false,
         height: 500,
         width: 1000,
         modal: true
      });
      return false;
   }
</script>